.btn{
  width: 60px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.align-buttons{
  align-items: center;
  justify-content: center;
}

.extern-align{
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}